body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightsteelblue;
    font: 4mm "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 210mm;
    height: 297mm;
    padding: 0mm;
    margin: 10mm auto;
    border: 0.25mm #D3D3D3 solid;
    border-radius: 1mm;
    background: white;
    box-shadow: 0 0 5mm rgba(0, 0, 0, 0.1);
}

.header {
    border-radius: 0.5mm;
    background-color: rgb(236, 234, 234);
    height: 50mm;
    display: flex;
    align-items: center;
}

.full-name {
    padding-left: 20mm;
    font-size: 8mm;
}

.last-name {
    padding-top: 2.5mm;
    font-weight: bold;
}

.contact-info {
    flex-grow: 1;
    padding-right: 10mm;
}

.contact-info > div {
    padding: 1mm 0;
    display: flex;
    justify-content: flex-end;
}

.contact-info > div > div:last-child {
    width: 10mm;
    text-align: center;
}

.contact-info i.fa {
    color: rgb(35, 140, 182);
    font-size: 5mm;
}

.no-link {
    color: #000;
    text-decoration: none;
}

.section-heading {
    padding-left: 10mm;
    font-size: 6mm;
    display: flex;
    align-items: center;
}

.section-heading > .text {
    padding-left: 3mm;
}

.section-heading > .icon {
    background:rgb(35, 140, 182);
    width: 7mm;
    height: 7mm;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading > .icon > i.fa {
    color: white;
    font-size: 3mm;
}

.section-content {
    padding-left: 20mm;
    padding-right: 20mm;
    text-align: justify;
}

.summary-section {
    margin-top: 10mm;
}

.skills-section {
    margin-top: 10mm;
}