<div class="header">
    <div class="full-name">
        <div class="first-name">{{ uppercase firstName }}</div>
        <div class="last-name">{{ uppercase lastName }}</div>
    </div>
    <div class="contact-info">
        <div>
            <div>Brisbane</div>
            <div><i class="fa fa-home"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="tel:+61424938538">
                    0424 938 538
                </a>
            </div>
            <div><i class="fa fa-phone"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="mailto:francesco.ferraioli@outlook.com">
                    francesco.ferraioli@outlook.com
                </a>
            </div>
            <div><i class="fa fa-envelope"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="https://github.com/francescoferraioli">
                    https://github.com/francescoferraioli
                </a>
            </div>
            <div><i class="fa fa-github"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="https://www.linkedin.com/in/ferraiolifrancesco">
                    https://www.linkedin.com/in/ferraiolifrancesco
                </a>
            </div>
            <div><i class="fa fa-linkedin"></i></div>
        </div>
    </div>
</div>

<div class="summary-section">
    <div class="section-heading">
        <span class="icon">
            <i class="fa fa-bars"></i>
        </span>
        <span class="text">SUMMARY</span>
    </div>
    <div class="section-content">
        <p>I am an extremely passionate full stack engineer favoring .NET (C# / F#) on the backend and React/Angular on the front end whilst having a broad experience in many other technologies.</p>
        <p>I am in love with using functional programming patterns to create intelligent, fast, secure, maintainable, readable, testable and reliable systems.</p>
        <p>I am a strong believer in being in a continuous state of learning as technology continues to rapidly evolve.</p>
        <p>I also believe that working in a team of people with the same passion is paramount.</p>
    </div>
</div>

<div class="skills-section">
    <div class="section-heading">
        <span class="icon">
            <i class="fa fa-wrench"></i>
        </span>
        <span class="text">SKILLS</span>
    </div>
    <div class="section-content">
        <p>TECHNICAL</p>
        <p>Backend</p>
        <div class="list-of-lists">
            <div>
                <ul>
                    <li>.NET Core</li>
                    <li>C# / F#</li>
                    <li>NUnit / XUnit</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Java</li>
                    <li>JUnit</li>
                    <li>OData</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Azure</li>
                    <li>AWS</li>
                </ul>
            </div>
        </div>
        <p>Frontend</p>
        <div class="list-of-lists">
            <div>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Angular</li>
                    <li>LESS / SASS</li>
                </ul>
            </div>
        </div>
        <p>Other</p>
        <div class="list-of-lists">
            <div>
                <ul>
                    <li>GIT</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>VIM</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Command Line</li>
                </ul>
            </div>
        </div>
        <p>PERSONAL</p>
        <div class="list-of-lists">
            <div>
                <ul>
                    <li>Communication</li>
                    <li>Fast Learner</li>
                    <li>Pragmatic</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Leading</li>
                    <li>Honest</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Team Work</li>
                    <li>Transparent</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="interests-section">
    <div class="section-heading">
        <span class="icon">
            <i class="fa fa-heart"></i>
        </span>
        <span class="text">INTERESTS</span>
    </div>
    <div class="section-content">
        <div class="list-of-lists">
            <div>
                <ul>
                    <li>Coding</li>
                    <li>Technology</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Chess</li>
                    <li>Puzzles</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Sport</li>
                    <li>Soccer</li>
                </ul>
            </div>
        </div>
    </div>
</div>
