<div class="experience-heading">
    <div>
        <div>{{ props.jobTitle }}</div>
        <div>|</div>
        <div>{{ props.company }}</div>
    </div>
    <div>
        <div>{{ props.start }}</div>
        <div>-</div>
        <div>{{ props.end }}</div>
    </div>
</div>