<div class="stacktrace-section">
    {{>partial partial="experience-heading" experience=experiences.stacktrace }}
    <div class="experience-content">
        <p>Stacktrace is an end-to-end technology consultancy company. In my time at Stacktrace I have worked as as full stack senior software engineer on different projects, each with different stacks:</p>
        <div class="stacktrace-project">
            <div>Emerging Healthcare</div>
            <p>Working on a telehealth solution on the cloud. This solution was used by GPs to undertake their consults through video as well as paediatrics to supply urgent care after hours.</p>
        </div>
    </div>
</div>
