<div class="experience-section">
    <div class="section-heading">
        <span class="icon">
            <i class="fa fa-briefcase"></i>
        </span>
        <span class="text">EXPERIENCE</span>
    </div>
    <div class="section-content">
        <div class="stacktrace-section">
            <div class="experience-heading">
                <div>
                    <div>Senior Software Engineer</div>
                    <div>|</div>
                    <div>Stacktrace</div>
                </div>
                <div>
                    <div>AUGUST 2018</div>
                    <div>-</div>
                    <div>JANUARY 2021</div>
                </div>
            </div>
            <div class="experience-content">
                <p>Stacktrace is an end-to-end technology consultancy company. In my time at Stacktrace I have worked as as full stack senior software engineer on different projects, each with different stacks:</p>
                <div class="stacktrace-project">
                    <div>Emerging Healthcare</div>
                    <p>Working on a telehealth solution on the cloud. This solution was used by GPs to undertake their consults through video as well as paediatrics to supply urgent care after hours.</p>
                </div>
            </div>
        </div>
    </div>
</div>
