<div class="interests-section">
    <div class="section-heading">
        <span class="icon">
            <i class="fa fa-heart"></i>
        </span>
        <span class="text">INTERESTS</span>
    </div>
    <div class="section-content">
        <div class="list-of-lists">
            <div>
                <ul>
                    <li>Coding</li>
                    <li>Technology</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Chess</li>
                    <li>Puzzles</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Sport</li>
                    <li>Soccer</li>
                </ul>
            </div>
        </div>
    </div>
</div>
