<div class="summary-section">
    <div class="section-heading">
        <span class="icon">
            <i class="fa fa-bars"></i>
        </span>
        <span class="text">SUMMARY</span>
    </div>
    <div class="section-content">
        <p>I am an extremely passionate full stack engineer favoring .NET (C# / F#) on the backend and React/Angular on the front end whilst having a broad experience in many other technologies.</p>
        <p>I am in love with using functional programming patterns to create intelligent, fast, secure, maintainable, readable, testable and reliable systems.</p>
        <p>I am a strong believer in being in a continuous state of learning as technology continues to rapidly evolve.</p>
        <p>I also believe that working in a team of people with the same passion is paramount.</p>
    </div>
</div>
