{{#content "experience"}}
<div class="experience-heading">
    <div>
        <div>{{ experience.jobTitle }}</div>
        <div>|</div>
        <div>{{ experience.company }}</div>
    </div>
    <div>
        <div>{{ experience.start }}</div>
        <div>-</div>
        <div>{{ experience.end }}</div>
    </div>
</div>
{{/content}}