<div class="footer">
    <div>
        <div>{{> fullName }}</div>
        <div>|</div>
        <div>0424 938 538</div>
        <div>|</div>
        <div>francesco.ferraioli@outlook.com</div>
    </div>
    <div>{{ num }}</div>
</div>
