<div class="footer">
    <div>{{> fullName }}</div>
    <div>|</div>
    <div>{{ formatPhone contactInfo.phone }}</div>
    <div>|</div>
    <div>{{ contactInfo.email }}</div>
    <div>|</div>
    <div class="page-num"></div>
</div>
