<div class="header">
    <div class="full-name">
        <div class="first-name">{{ uppercase firstName }}</div>
        <div class="last-name">{{ uppercase lastName }}</div>
    </div>
    <div class="contact-info">
        <div>
            <div>Brisbane</div>
            <div><i class="fa fa-home"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="tel:+61424938538">
                    0424 938 538
                </a>
            </div>
            <div><i class="fa fa-phone"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="mailto:francesco.ferraioli@outlook.com">
                    francesco.ferraioli@outlook.com
                </a>
            </div>
            <div><i class="fa fa-envelope"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="https://github.com/francescoferraioli">
                    https://github.com/francescoferraioli
                </a>
            </div>
            <div><i class="fa fa-github"></i></div>
        </div>
        <div>
            <div>
                <a
                    class="no-link"
                    href="https://www.linkedin.com/in/ferraiolifrancesco">
                    https://www.linkedin.com/in/ferraiolifrancesco
                </a>
            </div>
            <div><i class="fa fa-linkedin"></i></div>
        </div>
    </div>
</div>
