{{#if list.length}}
<div class="list-of-lists">
    {{#each (partitionInGroups list 3)}}
    <div>
        <ul>
        {{#each this}}
            <li>{{ this }}</li>
        {{/each}}
        </ul>
    </div>
    {{/each}}
</div>
{{/if}}