{{#each markdown}}
    {{#switch this.type}} 
        {{#case 'standard'}}
            {{#content ../class}}{{{this.markdown}}}{{/content}}
        {{/case}} 
        {{#case 'html'}}
            {{#content ../class}}{{{this.html}}}{{/content}}
        {{/case}} 
        {{#case 'spacer'}}
            {{> partial partial="spacer" height=this.height }}
        {{/case}} 
        {{#case 'column'}}
            {{#content ../class}}
            <div style="display:flex">
                {{#each this.columns}}
                    <div style="width: {{getPercentage ../this.columns.length}}%">
                    {{{this.markdown}}}
                    </div>
                {{/each}}
            </div>
            {{/content}} 
            {{> partial partial="spacer" height=this.height }}
        {{/case}} 
    {{/switch}}
{{/each}}