{{#each markdown}}
    {{#switch this.type}} 
        {{#case 'standard'}}
            {{#content ../class ../skipContentWrapper}}{{{this.markdown}}}{{/content}}
        {{/case}} 
        {{#case 'html'}}
            {{#content ../class ../skipContentWrapper}}{{{this.html}}}{{/content}}
        {{/case}} 
        {{#case 'spacer'}}
            {{> partial partial="spacer" height=this.height }}
        {{/case}} 
        {{#case 'column'}}
            {{#content ../class ../skipContentWrapper}}
                <div style="display:flex">
                    {{#each this.columns}}
                        <div style="width: {{getPercentage ../this.columns.length}}%">
                            {{> partial partial="markdown" markdown=(toArray this) skipContentWrapper=true }}
                        </div>
                    {{/each}}
                </div>
            {{/content}} 
            {{> partial partial="spacer" height=this.height }}
        {{/case}} 
    {{/switch}}
{{/each}}