<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/resume.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/section.css">
    <link rel="stylesheet" href="css/summary.css">
    <link rel="stylesheet" href="css/skills.css">
    <link rel="stylesheet" href="css/interests.css">
    <link rel="stylesheet" href="css/experience.css">
    <link rel="stylesheet" href="css/print.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ firstName }} {{ lastName }} - Resume</title>
</head>
<body>
    {{> partial partial="page" num="1"}}
    {{> partial partial="page" num="2"}}
</body>
</html>