<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <title>{{> fullName }} - Resume</title>
</head>
<body>
    <div class="container">
        {{> partial partial="header" }}

        {{> partial partial="spacer" height=7 }}

        {{> partial partial="heading" class="summary" name="summary" icon="bars" }}

        {{>partial partial="markdown" markdown=markdown.summary class="summary"}}

        {{> partial partial="spacer" height=7 }}

        {{> partial partial="heading" class="skills" name="skills" icon="wrench" }}

        {{>partial partial="markdown" markdown=markdown.skills class="skills"}}

        {{> partial partial="spacer" height=7 }}

        {{> partial partial="heading" class="interests" name="interests" icon="heart" }}

        {{>partial partial="markdown" markdown=markdown.interests class="interests"}}

        {{> partial partial="spacer" height=10 }}

        {{> partial partial="heading" class="experience" name="experience" icon="briefcase" }}

        {{>partial partial="markdown" markdown=markdown.experience class="experience"}}
    </div>

    <div class="templates">
        <div class="page-template">
            {{> partial partial="page"}}
        </div>
    </div>
</body>
</html>