.experience-section {
    .section-heading > .icon > i.fa {
        margin-top: 0.5mm;
    }

    .stacktrace-section {
        padding-top: 2mm;

        .stacktrace-project > div:first-child {
            text-decoration: underline;
        }
    }
}
