.footer {
    display: flex;
    position: absolute;
    bottom: 7mm;
    justify-content: space-between;
    width: 100%;

    padding-left: 15mm;
    padding-right: 15mm;

    > div:not(:last-child) {
        padding-right: 6mm;
    }
}
