.footer {
    display: flex;
    position: absolute;
    bottom: 7mm;
    justify-content: space-between;
    width: 100%;

    > div:first-child {
        display: flex;
        padding-left: 15mm;
    }

    > div:last-child {
        padding-right: 15mm;
    }

    > div:first-child > div:not(:last-child) {
        padding-right: 6mm;
    }
}
