.heading {
    padding-left: 10mm;
    font-size: 6mm;
    display: flex;
    align-items: center;

    > .text {
        padding-left: 3mm;
    }

    > .icon {
        background:rgb(35, 140, 182);
        width: 7mm;
        height: 7mm;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > .icon > i.fa {
        color: white;
        font-size: 3mm;
    }
}
