body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightsteelblue;
    font: 4mm "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

p {
    margin: 0;
    padding: 2mm 0
}

.page {
    width: 210mm;
    height: 297mm;
    padding: 0mm;
    margin: 10mm auto;
    border: 0.25mm #D3D3D3 solid;
    border-radius: 1mm;
    background: white;
    box-shadow: 0 0 5mm rgba(0, 0, 0, 0.1);
    position: relative;

    &:not(:first-child) {
        padding-top: 10mm;
    }
}

.no-link {
    color: #000;
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 5mm;
    list-style: none;

    > li {
        text-align: left;

        &::before {
            content: "\2022";
            color: rgb(35, 140, 182);
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }

        li::before {
            content: "-";
        }
    }
}

hr {
    border: none;
    height: 0.3mm;
    background-color: rgb(35, 140, 182); 
}